
src/HelpdeskSystem/.idea/

src/HelpdeskSystem/Application/obj/

src/HelpdeskSystem/BlazorUI/obj/

src/HelpdeskSystem/Domain/obj/

src/HelpdeskSystem/Infrastructure/obj/

src/HelpdeskSystem/obj/

src/HelpdeskSystem/HelpWorker/obj/

.DS_Store

src/HelpdeskSystem/Application/bin/

src/HelpdeskSystem/BlazorUI/bin/

src/HelpdeskSystem/Domain/bin/

src/HelpdeskSystem/HelpWorker/bin/

src/HelpdeskSystem/Infrastructure/bin/
